@model Polls.Models.Answer

@{
    ViewBag.Title = "Add Answer";
}

<h2>Add Answer</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>@Html.DisplayFor(model => Model.Question.Text)</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Text)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Text)
            @Html.ValidationMessageFor(model => model.Text)
        </div>
        <input type="submit" value="Add answer" />
        <p>
            <a href="~/Questions/Index">
                <input type="button" value="Save question" /></a>
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

